<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>about</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
  <nav>
      <img class="" src="">
      <span class="test">First Page Test</span>
      <ul>
        <li><a href="/works">Works</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
<h1>About us</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat deserunt, temporibus numquam explicabo ratione ad autem ex natus ab adipisci commodi praesentium vero consectetur saepe fugit architecto tempora assumenda molestias?</p>
</body>
</html>
